package views

templ Layout(title string) {
	<html>
		<head>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
